ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    &:hover {
        text-decoration: none;
    }
}
section {
    text-align: center;
}
* {
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
}
.title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    &_white {
        color: #fff;
    }
}

@keyframes faded{
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
};

.faded {
    animation-name: faded;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}
.close-section {
    position: absolute;
    right: 300px;
    top: 150px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.685);
    color: #000;
    line-height: 42px;
    font-size: 50px;
    cursor: pointer;
    display: none;
    z-index: 1;
    transition: .5s;
    &:hover {
        background-color: #fff;
    }
}

