.appointment {
    padding: 45px 0;
    background: url(../images/appointment-bg.jpg) center center/cover no-repeat;
    min-height: 760px;
    transition: 1s;
    color: #fff;
    transition: 3s;
    &_fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 3s;
    }
    &__info {
        margin-top: 20px;
        font-size: 18px;
        a {
            display: inline-block;
            color: $main-color;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            border-bottom: 1px solid $main-color;          
        }
    }
    &__require {
        color: rgba(255, 255, 255, 0.445);
        text-align: right;
        margin-left: auto;
        font-size: 14px;
        &:before {
            content: "*";
            color: rgba(255, 0, 0, 0.534);
            margin-right: 3px;
        }
    }
}
.form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    label {
        text-align: left;
        margin-right: auto;
        color: #278cc2;
    }
    input {
        padding: 12px;
        width: 100%;
        display: block;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        color: rgb(0, 0, 0);
    }
    textarea {
        padding: 12px;
        width: 100%;
        border-radius: 5px;
        font-size: 12px;
        color: #000;
    }
    &__btn {
        margin: 20px auto;
        padding: 2px 35px;
        transform: skew(0);
        color: #fff;
        display: flex;
        align-items: center;
        span {
            transform: skew(0);
            font-size: 30px;
            margin-right: 10px;
            transform: rotate(270deg)
        }
    }
}