@media (max-width: 1199px) {
    .header {
        &__title {
            font-size: 40px;
            line-height: 45px;
        }
        &__descr {
            margin-right: 0;
        }
        &__buttons {
            margin-top: 180px;
        }
    }
    .block-serve {
        &__title {
            font-size: 20px;
        }
        &__list {
            padding-right: 5px;
            li {
                margin-bottom: 15px;
            }
            &-mb {
                li {
                    font-size: 13px;
                }
            }
        }
    }
    .about {
        &__block {
            margin-left: 20px;
            width: 35%;
        }
        &__item {
            // min-width: 360px;
            padding: 25px 0px 28px 0px;
        }
        &__video {
            width: 50%;
            height: 300px;
        }
        &__descr {
            line-height: 33px;
        }
    }
    .portfolio {
        padding: 35px 0;
        &__img {
            &_center {
                margin-bottom: 37.5px;
            }
        }
    }
}

                                                            // 991px
@media (max-width: 991px) {
    .title {
        font-size: 40px;
    }
    .hamburger {
        display: block;
        right: 43px;
        top: 17px;
    }
    .header {
        &__nav {
            position: relative;
            top: 13px;
        }
        &__number {
            position: absolute;
            left: 0;
        }
        &__buttons {
            margin-top: 230px;
        }
    }
    .logo {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        &__img {
            width: 53px;
            img {
                width: 100%;
            }
        }
        &__name {
            margin: 0;
            margin-left: 5px;
            font-size: 17px;
            line-height: 27px;
            text-align: center;
            span {

            }
        }
    }
    .menu {
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -50%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.849);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        z-index: 1000;
        transition: 1s all ease;
        &_active {
            right: 0;
        }
        &__item {
            padding: 6px;
            transform: none;
            width: 100%;
            margin-bottom: 13px;
            a {
                font-size: 11px;
                transform: none;
                text-align: center;
                span {
                    display: none;
                }
            }
        }
    }
    .header {
        &__text {
          width: 70%;  
        }
    }

    .block-serve {
        margin-top: 20px;
        transform: skewX(-5deg);
        height: 320px;
        &__title {
            font-size: 17px;
        }
        &__descr {
            font-size: 13px;
        }
        &__btn {
            font-size: 15px;
        }
        &__img {
            width: 50px;
        }
        &__list {
            margin-top: 10px;
            padding-left: 10px;
            li {
                margin-bottom: 8px;
                font-size: 12px;
                line-height: 16px;
                span {
                    font-size: 14px;
                }
            }
            &-mb {
                li {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
        &__btn-back-mb {
            bottom: 10px;
        }
    }

    .portfolio {
        padding: 35px 0;
        &__img {
            &_center {
                margin-bottom: 35px;
            }
        }
    }


    .about {
        padding: 20px 0 40px 0;
        &__content {
            margin-top: 30px;
        }
        &__block {
            width: 45%;
        }
        &__item {
            padding: 15px 0;
        }
        &__wrap {
        }
        &__img {
            img {
            }
        }
        &__title {
            margin-left: 0;
            font-size: 16px;
        }
        &__subtitle {
            font-size: 14px;
            margin-left: 0;
        }
        &__descr {
            line-height: 24px;
        }
        &__video {
            margin-top: 20px;
            height: 230px;
            width: 45%;
        }
    }
}

                                                                        // 767px
@media (max-width: 767px) {
    .btn {
        transform: none;
        border-radius: 5px;
        span, a, img {
            transform: none;
        }
    }
    .form {
        .btn {
            span {
                transform: rotate(270deg);
            }
        }
    }


    .logo {
        left: 55%;
    }
    .header {
        min-height: 94vh;
        &__text {
            margin: 0;
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
        &__title {
            margin: 0;
            margin-top: 110px;
            text-align: center;
        }
        &__descr {
            margin: 0;
            margin-top: 70px;
            text-align: center;
        }
        &__buttons {
            margin-left: 0;
            display: flex;
            justify-content: center;
        }
        &__btn {
            margin-right: 15px;
            margin-left: 15px;
        }
    }

    .block-serve {
        transform: none;
        &_reverse {
            &:before {
                content: "";
                transform: none;
            }
        }
        &__main {
            &_reverse {
                flex-direction: column;
            }
        }
        &__title {
            font-size: 20px;
        }
        &__img {
            width: 60px;
        }
        &__list {
            margin-top: 20px;
            padding-left: 10px;
            li {
                margin-bottom: 13px;
                font-size: 14px;
                line-height: 16px;
                span {
                    font-size: 15px;
                }
            }
            &-mb {
                margin-top: 10px;
                li {
                    margin-bottom: 15px;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        &__btn-back {
            left: auto;
            right: 0;
            bottom: 10px;
        }
        &__btn-back-mb {
            bottom: 10px;
        }
    }

    .portfolio {
        padding-bottom: 60px;
    }

    .portfolio__images {
        display: none;
    }
    .mobile-slide {
        display: block;
    }


    .about {
        &__content {
            margin-top: 20px;
            flex-direction: column;
        }
        &__block {
            width: 100%;
            margin-left: 0;
        }
        &__item {
            transform: none;
        }
        &__wrap {
            padding: 0px 25px;
            transform: none;
        }
        &__img {
            img {
                transform: translateX(-50%);
            }
        }
        &__descr {
            margin: 10px;
            transform: none;
            text-align: center;
            line-height: 30px;
        }
        &__video {
            width: 100%;
        }
    }
    
    .footer {
        margin-top: 0;
        &__nav {
            margin: 0;
            padding: 0px 0;
            justify-content: flex-start;
        }
        &__item {
            margin: 10px;
        }
        &__social {
            position: absolute;
            display: flex;
            right: 10px;
            bottom: 19px;
        }
        &__img {
            margin-left: 10px;
            margin-bottom: -8px;
            opacity: .8;
        }
    } 
}
                                                        // 575px
@media (max-width: 575px) {
    .title {
        font-size: 38px;
    }
    .logo {
        &__img {
            width: 40px;
            img {
            }
        }
        &__name {
            font-size: 14px;
            line-height: 22px;
            span {
                letter-spacing: -1px;
            }
        }
    }
    .hamburger {
        right: 16px;
        top: 15px;
    }
    .header {
        background-position: -450px 0px;
        min-height: 94vh;
        &__lang-num {
            .languages {
                &__flag {
                    width: 20px;
                }
            }
        }
        &__number {
            font-size: 12px;
        }
        &__text {
            margin: 0;
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
        &__title {
            font-size: 30px;
        }
        &__descr {
            margin-top: 100px;
        }
        &__buttons {
            margin-top: 200px;
        }
        &__btn {
            margin-left: 0;
            padding: 10px 25px;
            &:last-child {
                margin-right: 0;
            }
            display: flex;
            align-items: center;
        }
    }
    .services {
        padding: 20px 0;
        background-image: none;
        background-color: rgb(221, 220, 220);
    }
    .block-serve {
        margin: 0 auto 20px auto;
        transform: none;
        height: 360px;
        width: 75%;
        &__wrap {
            display: block;
            transform: none;
            transform: translateY(100%);
            left: 0;
            &_active {
                transform: translateY(-0%);
            }
        }

        &__title {
            font-size: 26px;
        }
        &__descr {
            font-size: 15px;
        }
        &__img {
            width: 80px;
        }
        &__list {
            padding-right: 5px;
            &-mb {
                margin-top: 10px;
                li {
                    margin-bottom: 17px;
                    font-size: 14px;
                }
            }
        }
        &__btn-back-mb {
            bottom: 20px; 
        }
    }

    // porfolio

    .portfolio {
        padding: 30px 0 15px 0;
        background-position: 0 0px;
        &__images {
            display: none;
            margin-top: 0;
        }
        &__img {
            margin-bottom: 10px;
            &_center {
                margin-bottom: 10px;
            }
        }
    }


    // about
    .about {
        &__content {
            margin-top: 15px;
        }
        &__item {
            padding: 16px 0;
        }
        &__subtitle {
            margin: 10px;
            font-size: 13px;
        }
        &__descr {
            margin-top: 20px;
        }
        &__video {
           height: 200px; 
        }
    }


    .appointment {
        position: relative;
        &__require {
            font-size: 14px;
            position: absolute;
            right: 20px;
            bottom: 30px;
        }
    }
    .footer {
        &__item {
            margin: 0 10px;
            a {
                font-size: 10px;
            }
        }
        &__licence {
            justify-content: center;
        }
        &__txt {
            text-align: center;
            font-size: 13px;
            line-height: 14px;
            border: none;
        }
        &__nav {
            margin-top: 10px;
            justify-content: center;
        }
        &__social {
            position: relative;
            display: flex;
            justify-content: center;
            bottom: 0;
            right: 0;
        }
        &__img {
            margin: 0 10px;
        }
    }
}
                                                        // 413px
@media (max-width: 413px) {
    .logo {
        left: 53%;
        &__img {
            width: 34px;
            img {
            }
        }
        &__name {
            margin-top: -2px;
            font-size: 13px;
            line-height: 22px;
        }
    }
    .title {
        font-size: 33px;
    }
    .header {
        background: url(../images/main-bg.jpg) -500px center/cover no-repeat;
        position: relative;
        &__number {
            font-size: 13px;
            font-weight: 500;
            span {
                display: none;
            }
        }
        &__text {
            margin: 0;
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
        &__title {
            margin: 0;
            font-size: 28px;
            line-height: 45px;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__descr {
            margin: 0;
            margin-top: 70px;
            text-align: center;
            font-size: 30px;
        }
        &__buttons {
            position: absolute;
            bottom: 80px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;

        }
        &__btn {
            padding: 10px 18px;
        }
    }
    .block-serve {
        width: 100%;
        &__title {
            font-size: 20px;
        }
        &__img {
            width: 60px;
        }
        &__list {
            padding-right: 5px;
            &-mb {
                margin-top: 10px;
                li {
                    margin-bottom: 13px;
                    font-size: 12px;
                }
            }
        }
    }


    .footer {
        padding: 2px 0px;
        background-image: none;
        background-color: rgba(0, 0, 0, 0.897);
        &__nav {
            margin-top: 10px;
            justify-content: center;
        }
        &__social {
            margin-top: 5px;
        }
        &__img {
            margin: 0 10px;
        }
        &__item {
            margin: 0 5px;
            a {
                font-size: 8px;
            }
        }
    }
}
@media (max-width: 350px) {
    .logo {
        left: 55%;
        &__img {
            width: 33px;
            img {
            }
        }
        &__name {
            margin-top: -2px;
            font-size: 12px;
            line-height: 22px;
        }
    }
    .header {
        &__number {
            font-size: 12.3px;
        }
    }
}